<header
  data-display="flex"
  data-main="between"
  data-cross="center"
  data-p="24"
  data-md-py="24"
  data-md-px="12"
  data-bg="gray-800"
>
  <h1 data-fs="24" data-ls="2" data-color="gray-100" data-fw="500">resorak</h1>
  <a
    data-color="white"
    data-ls="0.5"
    data-mr="12"
    data-md-mr="0"
    href="/logout"
  >
    Logout
  </a>
</header>

<main data-display="flex" data-mx="auto" data-main="between" style="max-width: 1296px">
  <section style="max-width: 466px" data-width="100%" data-px="6" data-mx="auto">
    <form
      method="POST"
      action="/create-rss"
      data-display="flex"
      data-direction="column"
      data-mt="48"
      data-bg="gray-100"
      data-p="12"
      data-mb="auto"
      data-width="100%"
      data-bw="1"
      data-bc="gray-200"
    >
      <input type="hidden" name="_csrf" value="{{ _csrf }}" />

      <h2 data-fs="20" data-fw="500" data-mr="24" data-mb="24">
        Create Twitter RSS feed
      </h2>

      <div data-display="flex" data-cross="end" data-wrap="nowrap">
        <div data-display="flex" data-direction="column" data-mr="24" data-grow="1">
          <label class="c-label" for="twitterUserName" data-mb="6" data-fs="16">
            Twitter username
          </label>
          <input
            placeholder="@username"
            id="twitterUserName"
            name="twitterUserName"
            type="text"
            class="c-input"
            required
            data-mr="auto"
            data-p="3"
            data-width="100%"
          />
        </div>

        <button
          class="c-button"
          data-variant="primary"
          type="submit"
          data-mt="24"
          data-py="3"
          data-px="24"
          style="min-width: 80px"
        >
          Create
        </button>
      </div>

      <div data-mt="12">{{ error }}</div>
    </form>

    <div
      data-mt="48"
      data-md-mt="24"
      data-bg="gray-100"
      data-p="12"
      data-pb="0"
      data-width="100%"
      data-bw="1"
      data-bc="gray-200"
    >
      <form method="POST" action="/add-pharse-to-filter-out">
        <input type="hidden" name="_csrf" value="{{ _csrf }}" />

        <h2 data-fs="20" data-fw="500" data-mr="24" data-mb="24">
          Phrases to filter out
        </h2>

        <div data-display="flex" data-cross="end" data-wrap="nowrap">
          <div data-display="flex" data-direction="column" data-mr="24" data-grow="1">
            <label
              class="c-label"
              for="phraseToFilterOut"
              data-mb="6"
              data-fs="16"
            >
              Phrase
            </label>
            <input
              class="c-input"
              placeholder="Java"
              id="phraseToFilterOut"
              name="phraseToFilterOut"
              type="text"
              required
              data-p="3"
            />
          </div>

          <button
            data-variant="primary"
            class="c-button"
            type="submit"
            data-mt="24"
            data-py="3"
            data-px="24"
            style="min-width: 80px"
          >
            Add
          </button>
        </div>

        <div data-mt="12">{{ error }}</div>
      </form>

      {{#unless phrasesToFilterOut}}
      <small data-mr="24" data-mt="24">No phrases added</small>
      {{/unless}}

      <ul data-mt="12">
        {{#each phrasesToFilterOut}}
        <li
          data-display="flex"
          data-cross="center"
          data-my="12"
          data-pb="12"
          data-pl="12"
          data-bwl="1"
          data-bcl="gray-200"
          data-bwb="1"
          data-bcb="gray-200"
        >
          <span>{{ this.content }}</span>

          <form
            action="/delete-phrase-to-filter-out/{{this.id}}?_method=delete"
            method="POST"
            data-ml="auto"
          >
            <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
            <button
              class="c-button"
              type="submit"
              data-variant="bare"
            >
              Remove
            </button>
          </form>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>

  <section
    data-display="flex"
    data-direction="column"
    data-width="100%"
    data-px="6"
    data-mx="auto"
    style="max-width: 786px"
  >
    <div
      data-display="flex"
      data-main="between"
      data-cross="baseline"
      data-mt="48"
      data-md-px="6"
    >
      <h2 data-fs="20" data-fw="500" data-mr="24">Twitter RSS feeds</h2>

      <span
        data-fs="14"
        data-color="gray-600"
        data-md-mt="12"
        title="Feedly Hit happens when Feedly bots request RSS files from resorak, so your Feedly feed can be updated."
      >
        {{#if lastFeedlyHitTimestamp}}
        Last Feedly hit {{ lastFeedlyHitTimestamp }} ago
        {{else}}
        No recorded Feedly hit
        {{/if}}
      </span>
    </div>

    {{#unless feeds}}
      <small data-md-px="12" data-mt="24">No feeds added at the moment</small>
    {{/unless}}

    <ul
      data-display="flex"
      data-direction="column"
      data-my="24"
    >
      {{#each feeds}}
      <li
        data-display="flex"
        data-md-main="center"
        data-mb="24"
        data-py="12"
        data-px="24"
        data-md-px="12"
        data-bg="gray-100"
        data-bw="1"
        data-bc="gray-200"
      >
        <div
          data-display="flex"
          data-cross="center"
          data-md-main="center"
          data-width="100%"
        >
          <div
            class="twitter-user-thumbnail"
            data-display="flex"
            data-mr="24"
            data-md-mr="12"
            height="48px"
            width="48px"
            style="background-image: url('{{
              this.twitterUserThumbnail
            }}'), url('{{../twitterUserThumbnailPlaceholder}}')"
          ></div>

          <div
            data-display="flex"
            data-direction="column"
            data-cross="baseline"
            data-md-mr="24"
          >
            <small
              data-ls="1"
              data-fw="500"
              data-feed-status="{{ this.status }}"
              >{{ this.status }}</small
            >
            <a
              data-color="black"
              href="https://twitter.com/{{ this.twitterUserName }}"
              target="_blank"
              data-mr="12"
              data-md-mx="0"
              style="text-decoration: none"
              >{{ this.twitterUserName }}</a
            >
          </div>

          <div
            data-display="flex"
            data-direction="row"
            data-main="center"
            data-ml="auto"
            data-md-ml="unset"
            data-md-mt="24"
            data-md-mb="12"
          >
            <a href="{{ this.link }}" download data-mr="12" data-md-my="6" tabindex="-1">
              <button
                class="c-button"
                data-variant="secondary"
                type="button"
                style="width: 120px"
              >
                Download
              </button>
            </a>
            <button
              style="width: 120px"
              class="c-button copy"
              type="button"
              data-link="{{ this.link }}"
              data-ml="auto"
              data-md-ml="unset"
              data-variant="primary"
              data-md-my="6"
            >
              Copy link
            </button>

            {{#if this.isActive }}
              <form action="/regenerate-rss/{{this.twitterUserId}}" method="POST" data-md-my="6">
                <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
                <button type="submit" class="c-button" data-variant="primary" data-ml="12">
                  Regenerate
                </button>
              </form>
            {{/if}}
          </div>
        </div>

        <div
          data-display="flex"
          data-cross="center"
          data-width="100%"
          data-mt="12"
          data-md-mt="0"
        >
          <div data-display="flex" data-cross="center" data-md-mx="auto" data-md-my="6">
            <img height="20px" width="20px" src="/filter-icon.svg" alt="" />
            <small data-ml="6" data-mr="12" data-color="gray-900">
              {{#if this.skipReplyTweets}}
              Skipping reply tweets
              {{else}}
              No active filters
              {{/if}}
            </small>
          </div>

          <small
            class="timestamp"
            data-timestamp="{{ this.lastUpdatedAtTimestamp }}"
            data-ml="auto"
            data-md-mx="auto"
            data-md-my="6"
            data-color="gray-600"
          >
            Updated at
          </small>

          <button
            data-role="action-trigger"
            data-actions-id="{{this.twitterUserId}}"
            data-status="inactive"
            class="c-button"
            data-variant="with-icon"
            data-ml="24"
            data-md-mx="auto"
            data-md-my="6"
            type="button"
          >
            <span data-mr="12">Actions</span>
            <img height="16px" width="16px" src="/arrow-down-icon.svg" />
            <img height="16px" width="16px" src="/arrow-up-icon.svg" />
          </button>
        </div>

        <div
          data-role="action-target"
          data-actions-id="{{this.twitterUserId}}"
          data-status="inactive"
          data-display="flex"
          data-pt="12"
          data-md-pt="unset"
          data-pb="24"
          data-mt="12"
          data-width="100%"
          data-bwt="1"
          data-bct="gray-300"
        >
          <div data-mr="24" data-mt="24">
            <h3 data-fw="400" data-fs="16" data-md-fs="14" data-ls="0.5" data-color="gray-700">
              Feed actions
            </h3>
            <div data-display="flex" data-mt="12">
              {{#if this.isSuspended }}
                <form action="/activate-rss/{{this.twitterUserId}}" method="POST">
                  <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
                  <button type="submit" data-variant="secondary" class="c-button" data-mr="12">
                    Activate
                  </button>
                </form>
              {{/if}}

              <form action="/delete-rss/{{this.twitterUserId}}?_method=delete" method="POST">
                <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
                <button
                  type="submit"
                  style="width: 88px"
                  data-variant="secondary"
                  class="c-button"
                >
                  Delete
                </button>
              </form>

              {{#if this.isActive }}
                <form action="/suspend-rss/{{this.twitterUserId}}" method="POST">
                  <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
                  <button type="submit" data-variant="bare" class="c-button" data-ml="12">
                    Suspend
                  </button>
                </form>
              {{/if}}
            </div>
          </div>

          <div data-ml="auto" data-md-ml="unset" data-mt="24">
            <h3 data-fw="400" data-fs="16" data-md-fs="14" data-ls="0.5" data-color="gray-700">
              Filter actions
            </h3>
            <div data-display="flex">
              <form action="/skip-reply-tweets-in-rss/{{this.twitterUserId}}" method="POST">
                <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
                <button
                  {{#if this.skipReplyTweets}}
                  disabled
                  data-variant="bare"
                  {{/if}}
                  data-variant="secondary"
                  type="submit"
                  class="c-button"
                  data-mr="12"
                  data-mt="12"
                >
                  Skip reply tweets
                </button>
              </form>

              <form action="/include-reply-tweets-in-rss/{{this.twitterUserId}}" method="POST">
                <input type="hidden" name="_csrf" value="{{ ../_csrf }}" />
                <button
                  {{#if this.skipReplyTweets}}
                  data-variant="secondary"
                  {{else}}
                  data-variant="bare"
                  disabled
                  {{/if}}
                  type="submit"
                  data-mt="12"
                  class="c-button"
                >
                  Include reply tweets
                </button>
              </form>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
</main>
