<h1 data-ml="24">Resorak</h1>

<h2 data-ml="24" data-mt="48" data-fs="24" data-mb="24">
  Existing Twitter RSS feeds
</h2>

<small
  class="timestamp"
  data-timestamp="{{ lastFeedlyHitTimestamp }}"
  data-display="flex"
  data-ml="24"
  data-mb="48"
>
  Last Feedly hit at
</small>

{{#unless feeds}}
<small data-ml="24">Create a feed above.</small>
{{/unless}}

<ul data-pl="24">
  {{#each feeds}}
  <li data-display="flex" data-mb="24">
    <div
      class="twitter-user-thumbnail"
      data-mr="12"
      data-display="flex"
      style="background-image: url('{{
        this.twitterUserThumbnail
      }}'), url('{{../twitterUserThumbnailPlaceholder}}')"
    ></div>

    <div data-display="flex" data-direction="column">
      <small data-feed-status="{{ this.status }}">{{ this.status }}</small>

      <div data-display="flex" data-cross="center" data-mt="3">
        {{ this.twitterUserName }}
        <a href="{{ this.link }}" data-ml="12">{{ this.link }}</a>
        <button
          data-ml="12"
          type="button"
          class="copy"
          data-link="{{ this.link }}"
        >
          Copy
        </button>
      </div>

      <small
        class="timestamp"
        data-timestamp="{{ this.lastUpdatedAtTimestamp }}"
      >
        Last updated at
      </small>

      <small data-mt="12"
        >Active filters:
        {{#if this.skipReplyTweets}}
        skip reply tweets.
        {{else}}
        none.
        {{/if}}
      </small>
    </div>
  </li>
  {{/each}}
</ul>

{{#unless phrasesToFilterOut}}
<small data-ml="24">No phrases to filter out</small>
{{/unless}}

{{#if phrasesToFilterOut}}
<strong data-display="flex" data-mt="48" data-ml="24">
  Phrases to filter out
</strong>
{{/if}}

<ul>
  {{#each phrasesToFilterOut}}
  <li>{{ this }}</li>
  {{/each}}
</ul>
