<header
  data-display="flex"
  data-main="between"
  data-cross="center"
  data-p="24"
  data-md-py="24"
  data-md-px="12"
  data-bg="gray-800"
>
  <h1 data-fs="24" data-ls="2" data-color="gray-100" data-fw="500">resorak</h1>
  <a
    class="c-link"
    data-color="white"
    data-mr="12"
    data-md-mr="0"
    href="/login"
  >
    Dashboard
  </a>
</header>

<main data-mx="auto">
  <section
    data-display="flex"
    data-main="between"
    data-mt="48"
    data-md-mt="24"
    data-md-px="6"
  >
    <h2 data-fs="20" data-fw="500" data-mr="24">Twitter RSS feeds</h2>

    <span
      data-fs="14"
      data-color="gray-600"
      data-md-mt="12"
      title="Feedly Hit happens when Feedly bots request RSS files from resorak, so your Feedly feed can be updated."
    >
      {{#if lastFeedlyHitTimestamp}}
      Last Feedly hit {{ lastFeedlyHitTimestamp }} ago
      {{else}}
      No recorded Feedly hit
      {{/if}}
    </span>
  </section>

  {{#unless feeds}}
  <small data-md-px="12" data-mt="24">No feeds added at the moment</small>
  {{/unless}}

  <ul
    data-display="flex"
    data-direction="column"
    data-my="24"
    data-md-my="36"
    data-md-mx="12"
  >
    {{#each feeds}}
    <li
      data-display="flex"
      data-md-main="center"
      data-mb="24"
      data-py="12"
      data-px="24"
      data-md-px="12"
      data-bg="gray-100"
      data-bw="1"
      data-bc="gray-200"
    >
      <div
        data-display="flex"
        data-cross="center"
        data-md-main="center"
        data-width="100%"
      >
        <div
          class="twitter-user-thumbnail"
          data-display="flex"
          data-mr="24"
          data-md-mr="12"
          height="48px"
          width="48px"
          style="background-image: url('{{
            this.twitterUserThumbnail
          }}'), url('{{../twitterUserThumbnailPlaceholder}}')"
        ></div>

        <div
          data-display="flex"
          data-direction="column"
          data-cross="baseline"
          data-md-mr="24"
        >
          <small
            data-ls="1"
            data-fw="500"
            data-feed-status="{{ this.status }}"
            >{{ this.status }}</small
          >
          <a
            class="c-link"
            data-color="black"
            data-variant="bare"
            href="https://twitter.com/{{ this.twitterUserName }}"
            target="_blank"
            data-mr="12"
            data-md-mx="0"
          >
            {{ this.twitterUserName }}
          </a>
        </div>

        <div
          data-display="flex"
          data-direction="row"
          data-ml="auto"
          data-md-ml="unset"
          data-md-my="24"
        >
          <a href="{{ this.link }}" download data-mr="12" tabindex="-1">
            <button
              class="c-button"
              data-variant="secondary"
              type="button"
              style="width: 120px"
            >
              Download
            </button>
          </a>
          <button
            style="width: 120px"
            class="c-button copy"
            type="button"
            data-link="{{ this.link }}"
            data-ml="auto"
            data-variant="primary"
          >
            Copy link
          </button>
        </div>
      </div>

      <div
        data-display="flex"
        data-cross="center"
        data-width="100%"
        data-mt="12"
        data-md-mt="0"
      >
        <div data-display="flex" data-cross="center" data-md-mx="auto">
          <img height="20px" width="20px" src="/filter-icon.svg" alt="" />
          <small data-ml="12" data-color="gray-900">
            {{#if this.skipReplyTweets}}
            Skipping reply tweets
            {{else}}
            No active filters
            {{/if}}
          </small>
        </div>

        <small
          class="timestamp"
          data-timestamp="{{ this.lastUpdatedAtTimestamp }}"
          data-ml="auto"
          data-md-mx="auto"
          data-color="gray-600"
        >
          Updated at
        </small>
      </div>
    </li>
    {{/each}}
  </ul>
</main>
