<header
  data-display="flex"
  data-main="between"
  data-cross="center"
  data-mt="24"
  data-px="12"
  data-bg="gray-200"
>
  <h1 data-fs="32">Resorak</h1>
  <a data-color="gray-600" data-mr="12" href="/login"> Dashboard </a>
</header>

<section
  data-display="flex"
  data-cross="center"
  data-main="between"
  data-mt="48"
  data-px="12"
>
  <h2 data-fs="20" data-fw="500">Twitter RSS feeds</h2>
  <small data-timestamp="{{ lastFeedlyHitTimestamp }}" class="timestamp">
    Last Feedly hit at
  </small>
</section>

{{#unless feeds}}
<small data-px="12" data-mt="24">No feeds added at the moment</small>
{{/unless}}

<ul
  data-display="flex"
  data-direction="column"
  data-mt="72"
  data-px="24"
  data-pb="24"
  data-bg="gray-100"
>
  {{#each feeds}}
  <li data-display="flex" data-mt="24">
    <div
      class="twitter-user-thumbnail"
      data-mr="12"
      data-display="flex"
      style="background-image: url('{{
        this.twitterUserThumbnail
      }}'), url('{{../twitterUserThumbnailPlaceholder}}')"
    ></div>

    <div data-display="flex" data-direction="column">
      <small data-feed-status="{{ this.status }}">{{ this.status }}</small>

      <div data-display="flex" data-cross="center" data-mt="3">
        {{ this.twitterUserName }}
        <a href="{{ this.link }}" data-ml="12">{{ this.link }}</a>
        <button
          data-ml="12"
          type="button"
          class="copy"
          data-link="{{ this.link }}"
        >
          Copy
        </button>
      </div>

      <small
        class="timestamp"
        data-timestamp="{{ this.lastUpdatedAtTimestamp }}"
      >
        Last updated at
      </small>

      <small data-mt="12"
        >Active filters:
        {{#if this.skipReplyTweets}}
        skip reply tweets.
        {{else}}
        none.
        {{/if}}
      </small>
    </div>
  </li>
  {{/each}}
</ul>
