<h1 data-ml="24">Resorak</h1>

<form method="POST" action="/create-rss" data-mx="24">
  <legend data-mb="24" data-fs="20">Create a Twitter RSS feed</legend>

  <input type="hidden" name="_csrf" value="{{ _csrf }}" />

  <div data-display="flex" data-direction="column">
    <label for="twitterUserName" data-mb="6" data-fs="16"
      >Twitter username (e.g: jack)</label
    >
    <input
      id="twitterUserName"
      name="twitterUserName"
      type="text"
      required
      data-mr="auto"
      data-p="3"
    />
  </div>

  <div data-display="flex" data-direction="column" data-mt="12">
    <label for="apiKey" data-mb="6" data-fs="16">API KEY</label>
    <input
      id="apiKey"
      name="apiKey"
      type="password"
      required
      data-mr="auto"
      data-p="3"
    />
  </div>

  <button type="submit" data-mt="24" data-py="6" data-px="24">Create</button>

  <div data-mt="12">{{ error }}</div>
</form>

<h2 data-ml="24" data-mt="72" data-fs="24" data-mb="48">
  Existing Twitter RSS feeds
</h2>

{{#unless feeds}}
<small data-ml="24">Create a feed above.</small>
{{/unless}}

<ul>
  {{#each feeds}}
  <li data-display="flex" data-mb="24">
    <div
      class="twitter-user-thumbnail"
      data-mr="12"
      data-display="flex"
      style="background-image: url('{{
        this.twitterUserThumbnail
      }}'), url('{{../twitterUserThumbnailPlaceholder}}')"
    ></div>

    <div data-display="flex" data-direction="column">
      <div data-display="flex" data-cross="center">
        {{ this.twitterUserName }}
        <a href="{{ this.link }}" data-ml="12">{{ this.link }}</a>
        <button
          data-ml="12"
          type="button"
          class="copy"
          data-link="{{ this.link }}"
        >
          Copy
        </button>
        <button
          data-ml="12"
          type="button"
          class="more"
          data-id="{{ this.twitterUserId }}"
        >
          More
        </button>
      </div>

      <small
        class="timestamp"
        data-timestamp="{{ this.lastUpdatedAtTimestamp }}"
      >
        Last updated at
      </small>

      <small data-mt="12"
        >Active filters:
        {{#if this.skipReplyTweets}}
        skip reply tweets.
        {{else}}
        none.
        {{/if}}
      </small>
    </div>
  </li>

  <form
    data-id="{{ this.twitterUserId }}"
    data-status="inactive"
    data-cross="end"
    data-mb="48"
    method="POST"
    action="/delete-rss/{{ this.twitterUserId }}?_method=DELETE"
  >
    <input type="hidden" name="_csrf" value="{{../_csrf}}" />

    <div data-display="flex" data-direction="column">
      <label for="apiKey" data-mb="6" data-fs="16">API KEY</label>
      <input
        id="apiKey"
        name="apiKey"
        type="password"
        required
        data-mr="auto"
        data-p="3"
      />
    </div>

    <div data-display="flex" data-direction="column" data-ml="12">
      <label for="action" data-mb="6" data-fs="16">Action</label>
      <select
        data-id="{{ this.twitterUserId }}"
        class="action"
        name="action"
        required
        data-mr="auto"
        data-p="3"
      >
        <option value="delete">Delete</option>
        <option value="regenerate">Regenerate</option>
        <option disabled>------</option>
        {{#if this.skipReplyTweets}}
        <option value="include-reply-tweets">Include reply tweets</option>
        <option disabled value="skip-reply-tweets">Skip reply tweets</option>
        {{else}}
        <option disabled value="include-reply-tweets">
          Include reply tweets
        </option>
        <option value="skip-reply-tweets">Skip reply tweets</option>
        {{/if}}
      </select>
    </div>

    <button type="submit" data-py="3" data-px="6" data-ml="12">Perform</button>
  </form>
  {{/each}}
</ul>
